{% extends 'layout.html' %}

{% block content %}
<div id="playingarea">
    <div id="deck">
        <div id="deck" class="playingcard back" title="Deck">&nbsp;<br />&nbsp;</div>
        <div id="trump" class="playingcard empty" title="Trump card">&nbsp;<br />&nbsp;</div>
    </div>
    <div id="trick">
        <div id="ot" class="playingcard empty" title="Opponent card">&nbsp;<br />&nbsp;</div><br />&nbsp;<br />
        <div id="pt" class="playingcard empty" title="Your card">&nbsp;<br />&nbsp;</div>
    </div>
    <div id="opponenthand" title="Opponent hand"></div>
    <div id="playerhand" title="Your hand"></div>
    <div class="gameinfo opponent">
        <div id="opponentname">{{ opponent }}</div>
        <div id="opponentscore" title="Opponent number of tricks won">0</div>
        <div id="olasttrick" class="preview"></div></div class="nameinfo">
    <div class="gameinfo player">
        <div id="plasttrick" class="preview"></div>
        <div id="playerscore" title="Your number of tricks won">0</div>
        <div id="playername">{{ current_user.username }}</div>
    </div>
    <div class="playingcard help hidden" id="help1">
        <p>1</p>
        <p class="helptext">If you play this and lose the trick, you lead the next trick.</p>
    </div>
    <div class="playingcard help hidden" id="help3">
        <p>3</p>
        <p class="helptext">When you play this, you may exchange the trump card with a card from your hand.</p>
    </div>
    <div class="playingcard help hidden" id="help5">
        <p>5</p>
        <p class="helptext">When you play this, draw one card, then return any one card to the bottom of the deck face down.</p>
    </div>
    <div class="playingcard help hidden" id="help7">
        <p>7</p>
        <p class="helptext">Every 7 won is worth 1 point.</p>
    </div>
    <div class="playingcard help hidden" id="help9">
        <p>9</p>
        <p class="helptext">When determining the winner of a trick with only one 9, treat that 9 as if it were the trump suit.</p>
    </div>
    <div class="playingcard help hidden" id="help11">
        <p>11</p>
        <p class="helptext">When you lead this, if your opponent has this suit, they must play either the 1 of this suit or their highest card of this suit.</p>
    </div>
</div>
<script defer type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock content %}