<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  {% block head %}{% endblock %}

  <title>Fox in the Forest</title>
</head>
<body>
  <header class="header">
    <a class="title" href="/">Fox in the Forest</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li><a href="{{ url_for('lobby') }}">Lobby</a></li>
      {% if current_user.is_authenticated %}
        <li><a href="#">{{ current_user.username }}</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
      {% else %}
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
      {% endif %}
    </ul>
  </header>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert {{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="content">
    {% block content %}{% endblock %} 
  </div>
</body>
</html>