{% extends 'layout.html' %}
{% block content %}
<table>
  <thead>
    <tr>
      <th>{{ _('Rank') }}</th>
      <th>{{ _('Player') }}</th>
      <th>{{ _('Nb won') }}</th>
      <th>{{ _('Nb lost') }}</th>
      <th>{{ _('Ratio') }}</th></tr>
  </thead>
  <tbody>
  {% for element in board %}
    <tr>
      <td>{{ element.0 }}</td>
      {% if current_user.username == element.1 %}
        <td><strong>{{ element.1 }}</strong></td>
      {% else %}
        <td>{{ element.1 }}</td>
      {% endif %}
      <td>{{ element.2 }}</td>
      <td>{{ element.3 }}</td>
      <td>{{ "%.0f"|format(element.4) }}%</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}