{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lobby.css') }}">
{% endblock %}
{% block content %}
<div class="lobby">
  <div class="newgames">
    <form action="{{ url_for('new') }}" method="post">
      <input type="text" name="gamename">
      <input type="submit" class="btn btn-primary" value="Create New Game">
    </form>
    <form action="{{ url_for('new') }}" method="post">
      <input type="hidden" name="AI" value="TheBad">
      <input type="hidden" name="gamename" value="Game against TheBad">
      <input type="submit" class="btn btn-primary" value="New Game against TheBad">
    </form>
    <form action="{{ url_for('new') }}" method="post">
      <input type="hidden" name="AI" value="TheGood">
      <input type="hidden" name="gamename" value="Game against TheGood">
      <input type="submit" class="btn btn-primary" value="New Game against TheGood">
    </form>
  </div>
  <div class="gamelist1">
    <h1>Your games</h1>
    {% for game in own_games %}
      <p>{{ game.name }} Players: {{ game.first_player.username }} {{ game.second_player.username if game.second_player else "None" }} <a class="btn btn-secondary btn-sm" href="{{ url_for('game', id=game.id) }}" role="button">Join</a></p>
    {% endfor %}
  </div>
  <div class="gamelist2">
    <h1>Open games</h1>
    {% for game in open_games %}
      <p>{{ game.name }} Players: {{ game.first_player.username }} {{ game.second_player.username if game.second_player else "None" }} <a class="btn btn-secondary btn-sm" href="{{ url_for('game', id=game.id) }}" role="button">Join</a></p>
    {% endfor %}
  </div>
</div>
{% endblock %}