{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lobby.css') }}">
{% endblock %}
{% block content %}
<div class="lobby">
  <div class="newgames">
    <form action="{{ url_for('new') }}" method="post">
      <input type="text" name="gamename">
      <input type="submit" value="{{ _('Create New Game') }}">
    </form>
    <form action="{{ url_for('new') }}" method="post">
      <input type="hidden" name="AI" value="TheBad">
      <input type="hidden" name="gamename" value="{{ _('Game against TheBad') }}">
      <input type="submit" value="{{ _('New Game against TheBad') }}">
    </form>
    <form action="{{ url_for('new') }}" method="post">
      <input type="hidden" name="AI" value="TheGood">
      <input type="hidden" name="gamename" value="{{ _('Game against TheGood') }}">
      <input type="submit" value="{{ _('New Game against TheGood') }}">
    </form>
  </div>
  <div class="gamelist1">
    <h1>{{ _('Your games') }}</h1>
    {{ list_connected }}
    {% for game in own_games %}
      <p>{{ game.name }} <br> {{ _('Players:') }}
          <span class="status u{{ game.first_player.id }}"></span>
        {{ game.first_player.username }} vs 
        {% if game.second_player %}
          <span class="status u{{ game.second_player.id }}"></span>
        {% endif %}
        {{ game.second_player.username if game.second_player else _("None") }} <a class="btn btn-secondary btn-sm" href="{{ url_for('game', id=game.id) }}" role="button">{{ _('Join') }}</a></p>
    {% endfor %}
  </div>
  <div class="gamelist2">
    <h1>{{ _('Open games') }}</h1>
    {% for game in open_games %}
      <p>{{ game.name }} <br> {{ _('Players:') }}
        <span class="status u{{ game.first_player.id }}"></span>{{ game.first_player.username }} vs {{ _("None") }} <a class="btn btn-secondary btn-sm" href="{{ url_for('game', id=game.id) }}" role="button">{{ _('Join') }}</a></p>
    {% endfor %}
  </div>
</div>
{% endblock %}