{% extends "layout.html" %}
{% block content %}
<div class="centered">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    {{ form.username.label() }}
    {% if form.username.errors %}
      {{ form.username(class="invalid") }}
      <div class="invalid-feedback">
        {% for errors in form.username.errors %}
          <span>{{ errors }}</span>
        {% endfor %}
      </div>
    {% else %}
      {{ form.username() }}
    {% endif %}
    {{ form.password.label() }}
    {% if form.password.errors %}
      {{ form.password(class="invalid") }}
      <div class="invalid-feedback">
        {% for errors in form.password.errors %}
          <span>{{ errors }}</span>
        {% endfor %}
      </div>
    {% else %}
      {{ form.password() }}
    {% endif %}
    {{ form.submit() }}
  </form>
  <p>
    Don't have a username? <a href="{{ url_for('register') }}">Create one!</a>
  </p>
</div>
{% endblock content %}