{% extends "layout.html" %}
{% block content %}
<div class="centered">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    {{ form.username.label() }}
    {% if form.username.errors %}
      {{ form.username() }}
      <div class="invalid-feedback">
        {% for errors in form.username.errors %}
          <div>{{ errors }}</div>
        {% endfor %}
      </div>
    {% else %}
      {{ form.username() }}
    {% endif %}
    {{ form.password.label() }}
    {% if form.password.errors %}
      {{ form.password() }}
      <div class="invalid-feedback">
        {% for errors in form.password.errors %}
          <div>{{ errors }}</div>
        {% endfor %}
      </div>
    {% else %}
      {{ form.password() }}
    {% endif %}
    {{ form.confirm_password.label() }}
    {% if form.confirm_password.errors %}
      {{ form.confirm_password() }}
      <div class="invalid-feedback">
        {% for errors in form.confirm_password.errors %}
          <div>{{ errors }}</div>
        {% endfor %}
      </div>
    {% else %}
      {{ form.confirm_password() }}
    {% endif %}
    {{ form.submit() }}
  </form>
  <p>
    {{ _('Already have a username?') }} <a href="{{ url_for('login') }}">{{ _('Log-in!') }}</a>
  </p>
</div>

{% endblock content %}