#playingarea
{
	height: calc(100% - 58px);

	display: grid;
	grid-template-columns: [col-start] 1fr 4fr 1fr [col-end];
	grid-template-rows: [row-start] 1fr auto 1fr [row-end] 1fr;
    grid-template-areas:
    "opponentinfo opponenthand ."
    "decks trick help"
    "playerinfo playerhand ."
    "history history history";
  	/* grid-row-gap: 2%; */

	justify-items: center;
    align-items: center;
}

@media (max-width: 768px) {
    #history
    {
        display: none;
	}
	#playingarea
	{
		display: grid;
		grid-template-columns: [col-start] 1fr 4fr 1fr [col-end];
		grid-template-rows: [row-start] 1fr auto 1fr [row-end];
		grid-template-areas:
		"opponentinfo opponenthand opponenthand"
		"decks trick help"
		"playerinfo playerhand playerhand";
		grid-row-gap: 0%;
	}
}

#playerhand
{
    text-align: center;
	grid-area: playerinfo / playerinfo / playerhand / help;
}

#opponenthand
{
    text-align: center;
	grid-area: opponentinfo / opponentinfo / opponenthand / help;
}

#decks
{
	text-align: center;
	grid-area: decks;
}

#trick
{
	grid-area: trick;
}

#history {
  grid-area: history;
  filter: opacity(50%);
  justify-self: end;
}

#history .opponent
{
    transform: translate(0px, -20px) scale(0.5);
    margin: -20px;
}

#history .player
{
    transform: translate(0px, 20px) scale(0.5);
    margin: -20px;
}

#history .special
{
    background-color: lightcyan;
    transform: scale(0.4);
}

.gameinfo.opponent
{
	grid-area: opponentinfo;
	align-self: end;
}

.gameinfo.player
{
	grid-area: playerinfo;
	align-self: start;
}

.playingcard
{
	width: 57px;
	height: 89px;
	padding: 5px;
	border: solid 3px #808080;
	background-color: white;
	display: inline-block;
	border-radius: 10px;
	font-size: 24pt;
	text-align: center;

	font-weight: bold;
	font-family: "Arial Black", Gadget, sans-serif;
	line-height: 1.15;
	user-select: none;
}

#playerhand .playingcard
{
	margin: -8px;
}

#opponenthand .playingcard
{
	margin: -25px;
}

@media (hover: hover) {
    .playingcard.selectable:hover
    {
    	background-color: lightcyan;
    	/* transform-origin: bottom center; */
    	transform: scale(1.5)
    }

    .playingcard.selectable:active
    {
    	background-color: coral;
    	/* transform-origin: bottom center; */
    	transform: scale(1.6)
    }
}

.playingcard.selectable.sel
{
	background-color: lightcyan;
	/* transform-origin: bottom center; */
	transform: scale(1.5)
}

.playingcard.highlight
{
	background-color: lightgreen;
}

.back
{
	background: repeating-linear-gradient(
		45deg,
		#606dbc,
		#606dbc 10px,
		#465298 10px,
		#465298 20px
	);
}

.empty
{
	background: lightgrey;
}

.red
{
	color: red;
}

.green
{
	color: green;
}

.black
{
	color: black;
}

.spacer
{
    margin: 5px;
    display: inline;
}

.preview
{
	transform: scale(0.5);
}

.preview > :first-child
{
	transform: rotate(-10deg);
	margin: -8px;
}

.preview > :nth-child(2)
{
	transform: rotate(10deg);
	margin: -8px;
}

.gameinfo
{
	text-align: center;
	white-space: nowrap;
}

.select
{
	border-radius: 5px;
	background: rgb(38, 173, 33);
	padding-left: 5px;
	padding-right: 5px;
}

.help
{
    transform: scale(2.5);
	grid-area: help;
	justify-self: start;
}

.help > :first-child
{
    margin-bottom: 0;
}

.helptext {
	font-size: 4.9px;
	text-align: justify;
}

.hidden
{
    display: none;
}

.invisible 
{
  visibility: hidden;
}

#message 
{
  grid-column-start: col-start;
  grid-column-end: col-end;
  grid-row-start: row-start;
  grid-row-end: row-end;
  align-self: stretch;
  justify-self: stretch;
  
  z-index: 99;
  opacity: .5; 
  display: flex;
}

#message div
{
  color: black;
  font-size: 100pt;
  font-weight: bold;
  font-family: "Arial Black", Gadget, sans-serif;

  margin: auto;
}